
/*----------------------------------------------
CSS Settings For HTML Div ExactCenter
------------------------------------------------*/
#main {
width:100%;
margin:50px auto;
font-family:Aerial Black;
}
span {
color:red;
}
h2 {
background-color:#FEFFED;
text-align:center;
border-radius:10px 10px 0 0;
margin:-10px -40px;
padding:15px;
}
hr {
border:4;
border-bottom:1px solid #ccc;
width:95%;
margin-bottom:10px;
}
#login {
width:300px;
float:center;
border-radius:10px;
font-family:Aerial Black;
border:2px solid #ccc;
padding:10px 40px 25px;
margin-top:50px;
}
input[type=text],input[type=password] {
width:99.5%;
padding:10px;
margin-top:8px;
border:1px solid #ccc;
border-radius:15px;
padding-left:5px;
font-size:16px;
font-family:Aerial Black;
}
input[type=submit] {
width:100%;
background-color:#FFBC00;
color:#fff;
border:2px solid #FFCB00;
padding:10px;
font-size:20px;
cursor:pointer;
border-radius:5px;
margin-bottom:15px
}
.button {
width:100%;
background-color:#FFBC00;
color:#fff;
border:2px solid #FFCB00;
padding:10px;
font-size:20px;
cursor:pointer;
border-radius:5px;
margin-bottom:15px
}
#profile {
padding:50px;
border:1px dashed grey;
font-size:20px;
background-color:#DCE6F7;
}
#logout {
float:right;
padding:5px;
border:dashed 1px gray;

}
a {
text-decoration:none;
color:#6495ed;
}
i {
color:#6495ed;
}

.header {
background-color: #4E342E;
color: White;
font-size:20px;
font-family:"Engravers MT";
padding: 15px;
box-shadow: 7px 5px #888888;
border-top-right-radius:6px;
border-top-left-radius:6px;
border-bottom-right-radius:6px;
border-bottom-left-radius:6px;
}
.logout_button {
    background-color: #4CAF50; /* Green */
    border: none;
	border-radius: 12px;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
	
}